<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Drydock Themes</title>

    <link href="assets/css/style.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

<section class="header header-fixed">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo">
                </div>
                <ul>
                    <li>Pricing</li>
                    <li>Docs</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="hero">
    <div class="hero-container">
        <div class="hero-desktop-screenshot">
            <img src="assets/images/screenshot-homepage.png">
        </div>

        <div class="hero-mobile-screenshot">
            <img src="assets/images/screenshot-iphone.png">
        </div>

        <div class="hero-intro-text">
            <h1>Drydock Business</h1>
            <p>Kickstart your next Drupal 8 project with this multi-purpose project. Built to deploy on composer, configuration sync, drupal VM and Pantheon.</p>
            <a class="btn">Live Demo</a>
        </div>
    </div>
</section>

<section class="features">
    <h1>A Modern Drupal 8 Theme, built from the ground up</h1>
    <h2>Built for freelancers, agencies and developers to kickstart projects and save 100's of hours.</h2>
    <%- include('templates/components/feature', {
    icon: "pantheon.png",
    title: "Composer Install",
    body: "Gimko has low, simple fees and no hidden costs. All standard listings are free with no re-listing fees..."
    }); %>
    <%- include('templates/components/feature', {
    icon: "piggycolor.svg",
    title: "Pantheon Ready",
    body: "Gimko has low, simple fees and no hidden costs. All standard listings are free with no re-listing fees..."
    }); %>
    <%- include('templates/components/feature', {
    icon: "piggycolor.svg",
    title: "SCSS",
    body: "Gimko has low, simple fees and no hidden costs. All standard listings are free with no re-listing fees..."
    }); %>
</section>

<section class="features">
    <h1>More than a Theme. A complete install </h1>
    <h2>Use SQL or Drupal 8 Configuration Import to automatically install all the content types, blocks, views and dummy content.</h2>
    <%- include('templates/components/feature', {
    icon: "pantheon.png",
    title: "Composer Install",
    body: "Gimko has low, simple fees and no hidden costs. All standard listings are free with no re-listing fees..."
    }); %>
    <%- include('templates/components/feature', {
    icon: "piggycolor.svg",
    title: "Pantheon Ready",
    body: "Gimko has low, simple fees and no hidden costs. All standard listings are free with no re-listing fees..."
    }); %>
    <%- include('templates/components/feature', {
    icon: "piggycolor.svg",
    title: "SCSS",
    body: "Gimko has low, simple fees and no hidden costs. All standard listings are free with no re-listing fees..."
    }); %>
</section>
</body>

</body>

</html>
